<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoordinateSharp" version="2.14.2.1" targetFramework="net461" />
  <package id="GeoConvert.NET" version="1.0.0" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net461" />
  <package id="RibbonWinForms" version="5.0.1.1" targetFramework="net452" requireReinstallation="true" />
</packages>